*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    overflow-x: hidden;
}
body {
    background-color: #1C2C07;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #1C2C07;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    color: #CDE8E5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;
    margin-left: 4vw;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #CDE8E5;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 4vw;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #CDE8E5;
    margin: 5px;
    transition: all 0.1s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 40%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1C2C07;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translatex(100%);
        transition: transform 0.1s ease-in;
        justify-content: flex-start;
        padding-top: 5%;
    }
    .nav-links li{
        opacity: 0;
        padding-top: 20%;
    }
    .burger{
        display: block;
        margin-right: 4vw;
    }
    .nav-links a{
        margin-right: 0%;
    }
}

.nav-active{
    transform: translatex(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

*, *:before, *:before {
    box-sizing: border-box;
}

.container {
    padding: 2em;
    height: 100vh;

    &:first-child{
        display: grid;
        grid-template-rows: 10% 30% auto;
    }

    h1 { /* Sauce Viali */
        text-align: center;
        margin-top: 1em;
        font-weight: normal;
        font-size: 7em;
        line-height: 1.5em;
        font-family: "Massivertical";
        color: #b2c982;
        letter-spacing: 5px;
    }

    p {
        line-height: 1.5em;
        color: rgb(194, 194, 194)
    }

    .line {  /* linia do strzałki */
        align-self: end;
        width: 50%;
        border-right: 2px solid white;
        height: 20%;
        margin-bottom: 4em;
        position: relative;

        &::after {      /* sama strzałka */
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 11px 0 11px;
            border-color: white transparent transparent transparent;
            right: -.7em;
            bottom: -2px;
        }
    }
}

h2 {
    color: rgb(112, 112, 112);
    font-size: 3em;
    margin: 0;
    width: 100%;
}
.subtext {
    margin-top: 0;
    font-size: 1.em;
    text-transform: uppercase;
}
.secondary {
    margin-top: -6em;
}


.leaves, .green {
    position: absolute;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    top: 8vh;
    width: 100vw;
}

.leaves {
    top: 45vh;
    object-position: right center;;
}

@media only screen and (max-width: 514px) {
    .container {
    h1 {
        margin-top: 0.4em;
        font-size: 7em;
    }
}
    .green {
        top: 2vh;
        width: 200vw;
    }

    .leaves {
        top: 52vh;
        height: 130vw;
    }
    .secondary {
        margin-top: -15em;
    }
}

.cover {
    background-color: #1C2C07;
    height: 50vh;
    position: absolute;
    top: 100vh;
    width: 100%;
    z-index: -1;
}

/* /* @media only screen and (max-width: 540px) {
    
    .container {
        h1 {
            margin-top: 1em;
            font-size: 7em;
            line-height: 2em;
        }
    }
    .leaves {
        top: 65vh;
        width: 100vw;
    }
} */

/* @media only screen and (max-width: 853px) {
    .container {
        h1 {
            margin-top: 0.6em;
            font-size: 10em;
        }
    }
    .leaves {
        top: 45vh;
        width: 100vw;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
    h1 {
        margin-top: 0.1em;
        font-size: 10em;
    }
}
    .green {
        top: -10vh;
        width: 200vw;
    }

    .leaves {
        top: 40vh;
        width: 100vw;
    }
} */ 