*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    overflow-x: hidden;
}
body {
    background-color: #1C2C07;
}

/* FONT */
@font-face {
    font-family: 'Massivertical';
    src: url('../fonts/Massivertical.woff2') format('woff2'),
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #1C2C07;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    color: #CDE8E5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;
    margin-left: 4vw;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #CDE8E5;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 4vw;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #CDE8E5;
    margin: 5px;
    transition: all 0.1s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 40%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1C2C07;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translatex(100%);
        transition: transform 0.1s ease-in;
        justify-content: flex-start;
        padding-top: 5%;
        z-index: 2;
    }
    .nav-links li{
        opacity: 0;
        padding-top: 20%;
    }
    .burger{
        display: block;
        margin-right: 4vw;
    }
    .nav-links a{
        margin-right: 0%;
    }
}

.nav-active{
    transform: translatex(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

*, *:before, *:before {
    box-sizing: border-box;
}

.container {
    padding: 5vh;
    height: 100vh;

    &:first-child{
        display: grid;
        grid-template-rows: 10% 30% auto;
    }

    h1 { /* Sauce Viali */
        text-align: center;
        margin-top: 1em;
        font-weight: normal;
        font-size: 10em;
        line-height: 1.5em;
        font-family: "Massivertical";
        color: #b2c982;
        letter-spacing: 5px;
        z-index: 1;
    }

    p {
        line-height: 1.5em;
        color: rgb(194, 194, 194)
    }

    .line {  /* linia do strzałki */
        align-self: end;
        width: 50%;
        border-right: 2px solid white;
        height: 20%;
        margin-bottom: 4em;
        position: relative;

        &::after {      /* sama strzałka */
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 11px 0 11px;
            border-color: white transparent transparent transparent;
            right: -.7em;
            bottom: -2px;
        }
    }
}

h2 {
    color: rgb(160, 195, 155);
    font-size: 5vw;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: poppins;

}
.subtext {
    margin-top: 0;
    font-size: 1.em;
    text-transform: uppercase;
    text-align: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.musiclist {
    width: 78%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}

.music {
    max-width:280px;
    margin: 0px;
    padding: 0px;
}

.music img {
    max-width:270px;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
}

.musiclist img:hover {
    transition: transform 0.2s ease-in;
}

.albumname {
    text-align: center;
    color:rgb(160, 195, 155);
    font-family: poppins;
    letter-spacing: 2px;
}

li::marker {
    content: "";
}


.musiclist:not(:last-child):not(:has(+ [hidden])) {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

.filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 0;
    padding: 0;
  }

.filter-btn {
    cursor: pointer;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    color: rgb(160, 195, 155);
  }

.filter-btn:hover,
.filter-btn:focus {
  background-color: #6fa552;
}

.filter-btn.active {
  background: rgb(51, 83, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.2);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img {
    width: 90%;
    max-width: 500px;
    pointer-events: none;
}
.x {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
}
.x div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}
.line4 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.line5 {
    opacity: 0;
}
.line6 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.green, .leaves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.green {
    background-image: url('green.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2; /* Moves the green background further back */
}

.leaves {
    background-image: url('leaves.png');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Moves leaves to the foreground */
    top: 55vh;
}

.cover {
    background-color: #1C2C07;
    height: 100vh;
    position: absolute;
    top: 100vh;
    width: 100%;
    z-index: -1;
    -webkit-box-shadow: 0px -7px 38px 26px rgba(28, 44, 7, 1);
    -moz-box-shadow: 0px -7px 38px 26px rgba(28, 44, 7, 1);
    box-shadow: 0px -7px 38px 26px rgba(28, 44, 7, 1);
}

/* iPad Landscape and smaller */
@media only screen and (max-width: 1024px) {
    .container h1 {
        margin-top: 2em;
        font-size: 10em;
    }
    .leaves {
        top: 65vh;
        height: 100vw;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
    .container h1 {
        font-size: 7em;  /* Adjust font size */
        margin-top: 1em; /* Adjust top margin */
    }

    .leaves {
        top: 65vh;       /* Adjust leaves position */
        height: 80vh;    /* Adjust leaves height */
    }

    .secondary {
        margin-top: -4em;
    }
    .cover {
        top: 100vh;
    }
}

/* iPad Portrait */
@media only screen and (max-width: 853px) {
    .container h1 {
        margin-top: 1.5em;
        font-size: 10em;
    }
    .leaves {
        top: 65vh;
        height: 100vw;
    }
}

@media only screen and (max-width: 540px) {
    .container h1 {
        font-size: 8em;
        margin-top: 0.8em;
    }
    .leaves {
        top: 60vh;
        height: 100vw;
    }
    .secondary {
        margin-top: -5em;
    }
    .cover {
        top: 100vh;
    }
}

/* iPhone */
@media only screen and (max-width: 514px) {
    .container h1 {
        font-size: 7em; 
        margin-top: 2em;
    }
    .leaves {
        top: 79vh;
        height: 100vw;
    }
    .secondary {
        margin-top: -1em;
    }
    .cover {
        top: 110vh;
    }
}

@media only screen and (max-width: 376px) {
    .container h1 {
        font-size: 7em;
        margin-top: 1.5em;
    }
    .leaves {
        top: 75vh;
        height: 100vw;
    }
    .secondary {
        margin-top: -1em;
    }
    .cover {
        top: 110vh;
    }
}
